$green: rgb(11, 53, 49);
$gold: rgb(255, 190, 11);
$cream: rgb(250, 237, 205);


*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

button{
    cursor: pointer;
    border: none;
    display: inline-block;
}

ion-icon{
    cursor: pointer;
}

/*
**hero
*/

.hero__container{
    width: 100%;
    height: 98dvh;
    display: flex;
    align-items: center;

    .green__bg{
        height: 100%;
        width: 67%;
        position: relative;
        background: $green;
        color: #fff;

        .green_nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 2.5rem;
            
            // position: absolute;
            // top: 0;
            // left: 0;

            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                // gap: .rem;

                img{
                    width: 4rem;
                    height: 4rem;
                    object-fit: cover;
                }
                h3{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }

            .nav_menu{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                li{
                    list-style-type: none;
                    font-weight: 600;
                    font-size: .9rem;
                    cursor: pointer;
                    &:hover{
                        transition: color .05s ease;
                        color: $gold;
                    }
                }
            }
        }
        .green_hero_content{
            // border: 1px solid red;
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-inline-start: 5rem;

            h3{
                font-size: 4rem;
                font-weight: 600;
                width: 70%;

                span{
                    color: $gold;
                }
            }
            p{
                width: 58%;
                font-weight: 600;
                padding-block: 1.2rem;
            }
            #hero-btn{
                padding: .2rem 1rem;
                background: goldenrod;
                font-size: 1.2rem; 
                color: #fff;
            }
        }
    }
    .cream__bg{
        background: $cream;
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-end;

        .cream_nav{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
            padding-inline-end: 4rem;
            padding-block: 1rem;
            :nth-last-child(1){
                font-size: 1.5rem;
            }
            #down{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                #ion{
                    font-size: .8rem;
                }
            }

            li{
                list-style-type: none;
                font-size: 1rem;
                font-weight: 600;
                // padding-block: 2rem;
                &:hover{
                    transition: color .05s ease;
                    color: $gold;
                }
                
            }
        }
        .hero_image_cont{
            // border: 1px solid red;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-inline-end: 3rem;
            position: relative;

            .image{
                width: 38rem;
                // border: 1px solid blue;
                height: 25rem;
                border-radius: 15px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 7px;
                }
                
            }
        }
    }
}